<!DOCTYPE html>
<html lang="en" ng-app="tunely">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>

    <div class="container col-md-8 col-md-offset-2" ng-controller="AlbumsIndexController as albumsIndexCtrl">
      <table id="searchInputs" class="col-md-8 col-md-offset-2">
        <tr><th><b>New Album Name</b></th><th><b>New Artist Name</b></th></tr>
        <tr>
          <td>{{ albumsIndexCtrl.newAlbum.name }}</td>
          <td>{{ albumsIndexCtrl.newAlbum.artistName }}</td>
        </tr>
      </table>
      <table class="col-md-8 col-md-offset-2">
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="New album name" ng-model="albumsIndexCtrl.newAlbum.name"><br>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="New artist name" ng-model="albumsIndexCtrl.newAlbum.artistName"><br>
          </td>
        </tr>
      </table>
      <table id="searchResults" class="col-md-8 col-md-offset-2">
        <tr><th>Album Name</th><th>Artist Name</th></tr>
        <tr ng-repeat="album in albumsIndexCtrl.albums | orderBy:'name' | filter:albumsIndexCtrl.newAlbum:strict">
          <td>{{album.name}}</td>
          <td>{{album.artistName}}</td>
        </tr>
      </table>
      </div>
    </div>

  </body>

</html>
